.search{
margin-top: 100px;
}
.bck-pic{
position: absolute;
height: 600px;
width:100%;
opacity: 0.9;
}
.bg-color{

}

.search-bar{
position: absolute;
bottom:100px;
left: 50px;
right: 50px;
opacity: 0.8;



}
@media(max-width:600px){
.search-bar{
bottom:150px;
left:0;
right: 0;
}
}
